{% extends 'base.html' %}

{% block title %}Welcome to You Flock Manager{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-4">Welcome to You Flock Manager</h1>
        <p class="lead">Your complete solution for planning and managing your flock</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Breeds</h5>
                <p class="card-text">View and Enter Notes into the Breeds Log</p>
                <a href="{% url 'breed-list' %}" class="btn btn-success">View Breeds</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Sheep</h5>
                <p class="card-text">View and Enter Notes into the Sheep Log</p>
                <a href="{% url 'sheep-list' %}" class="btn btn-success">View Sheep</a>
            </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}