{% extends 'base.html' %}

{% block title %}Welcome to Flock Manager{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-4">Welcome to Flock Manager</h1>
        <p class="lead">Your solution for planning and managing your sheep flock</p>
        <p class="lead">Written by Bill Lensmire.  Free Open Source Software. Freely you received, freely give.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Breeds</h5>
                <p class="card-text">View and Enter Notes into the Breeds Log</p>
                <a href="{% url 'breed-list' %}" class="btn btn-success">View Breeds</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Sheep</h5>
                <p class="card-text">View and Enter Notes into the Sheep Log</p>
                <a href="{% url 'sheep-list' %}" class="btn btn-success">View Sheep</a>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Breeding Records</h5>
                <p class="card-text">View and Enter Notes into the Breeding Records Log</p>
                <a href="{% url 'breeding-record-list' %}" class="btn btn-success">View Breeding Records</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Lambing Records</h5>
                <p class="card-text">View and Enter Notes into the Lambing Records Log</p>
                <a href="{% url 'lambing-record-list' %}" class="btn btn-success">View Lambing Records</a>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Health Records</h5>
                    <p class="card-text">View and Enter Notes into the Health Records Log</p>
                    <a href="{% url 'health-record-list' %}" class="btn btn-success">View Health Records</a>
                </div>
            </div>
        </div>
</div>
{% endblock %}